@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}
html{
    font-size: 62.5%;
}
body{
    height: 110vh;
    width: 100vw;
    padding: 2%;
    /* overflow: hidden; */
    opacity: 0;
    transition: opacity 2s ease-out;
    background: linear-gradient(45deg, #FF9CE3 0%, #4AB3FF 100%);
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    height: 10vh;
}
.visible{
    opacity: 1;
}
.welcome{
    width: 30%;
    /* background :rgb(97, 80, 80); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcomeUser{
    font-size: 4rem;
    font-weight: bold;
    margin-left: 5%;
}
.navControls{
    display: flex;
    width: 50%;
    /* background: black; */
    justify-content: space-evenly;
    align-items: center;
}
.navOptions{
    cursor: pointer;
        width: 20%;
        z-index: 10;
        text-align: center;
        font-size: 2.2rem;
        background: rgba(255,255,255,0.4);
        border: 1px solid white;
        padding: 0.8%;
        border-radius: 15px;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        font-size: 1.4rem;
        margin: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
}
main{
    /* background: chartreuse; */
    /* padding-bottom: 10%; */
    padding: 2%;
    height: 100vh;
    /* overflow: scroll; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 5% 0%;
    /* grid-template-rows: 30rem; */
    /* display: flex;
    gap: 20px 20px;
    justify-content: center;
    flex-wrap: wrap; */
    /* display: grid;
    grid-template-columns: 3fr 3fr 3fr; */
}
.cardContainer{
    /* background:#4AB3FF; */
    overflow: scroll;
    height: 90vh;
}
.card{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    /* height: 100%; */
    /* width: 25%; */
    height: 40rem;
    border-radius: 20px;
    width: 80%;
    /* margin-left: 5%; */
    border: 1px solid white;
    /* margin-top: 2%; */
    background: rgba(255,255,255,0.4);
    padding: 2%;
}
.cardHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background: chocolate; */
}
.cardHeading{
    font-size: 2.3rem;
    width: 50%;
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow : hidden;
}
.editNote{
    cursor: pointer;
}
.cardContent{
    margin-top: 5%;
    font-size: 1.5rem;
    overflow: scroll;
    color:rgb(97, 80, 80);
    /* background: darkgray; */
    padding: 5%;
    height: 80%;
    border-radius: 20px;
    border : 1px solid white
}
.deleteNote{
    height: 4rem;
    width: 4rem;
    /* background:#4AB3FF; */
}
.deleteNote > img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.left{
    display: flex;
    /* background: black; */
    width : 30%;
    justify-content: space-around;
}
svg{
    height: 4rem;
    width: 4rem;
}
.alertMessage{
    
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 8rem;
    border-radius: 20px;
    z-index: 2;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    
    font-size: 2.5rem;
    
}

.alertDiv.after{
    opacity: 0;
}
.alertDiv{
    width: 30%;
    /* background:#4AB3FF; */
    position: absolute;
    top : 1%;
    left: 50%;
    z-index: 3;
    opacity :1;
    transform: translateX(-50%);
    transition : all 2.5s ease-in;
}