@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s ease-out;
    background: linear-gradient(45deg, #FF9CE3 0%, #4AB3FF 100%);
    padding: 10%;
}
.circle1, .circle2{
    z-index: -1;
}
.circle1{
    background: chartreuse;
    height: 70rem;
    width: 70rem;
    border-radius: 50%;
    background: linear-gradient(30deg, #0094ff, #97FF57);
    filter: blur(10px);
    position: absolute;
    top: -10%;
    left: -10%;
    
}
.circle2{
    background: chartreuse;
    height: 55rem;
    width: 55rem;
    background: linear-gradient(-120deg, #FF57D0,#0D99FF);
    border-radius: 50%;
    filter: blur(5px);
    position: absolute;
    bottom: -10%;
    right: -5%;
}
.mainContainer{
    display: flex;
    justify-content: space-evenly;
    /* background: chartreuse; */
    height: 90%;
    padding-top: 3%;
}

.card{
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    height: 100%;
    width: 160%;
    padding: 5%;
    padding-top: 10%;
    align-items: center;
    border-radius: 20px;
    justify-content: space-around;
    border: 1px solid white;
    background: rgba(255,255,255,0.4);
}
.signInCard{
    height: 70%;
}
.visible{
    opacity: 1;
}
h1{
    font-size: 3rem;
}
input{
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    padding-left: 2%;
    border: none;
    
}
input:focus{
    outline : none;
    border: 1px solid grey;
}
.heading{
    font-size: 3.5rem;
}
::placeholder{
    color: grey;
}
.signInButton{
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-size: 2rem;
    padding : 1%;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid white;
}
.visible{
    opacity: 1;
}
.signInButton:hover{
    cursor: pointer;
}

/* Notes Pages CSS*/
.NoteBody{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noteCard{
    height: 80%;
    border-radius: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: chartreuse; */
    border: 1px solid white;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
.inputNote{
    height: 50%;
}
.Button{
    border: 1px solid white;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-size: 2rem;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 10px;

}
.Button:hover{
    cursor: pointer;
}
.alertMessage{
    
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 8rem;
    border-radius: 20px;
    z-index: 2;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    
    font-size: 2.5rem;
    
}

.alertDiv.after{
    opacity: 1;
}
.alertDiv{
    width: 30%;
    /* background:#4AB3FF; */
    position: absolute;
    top : 1%;
    left: 50%;
    opacity :1;
    z-index: 3;
    transform: translateX(-50%);
    transition : all 2.5s ease-in;
}